<div class="chart-component" >
    <div class="chart-controls">
        <button data-bind="click: refreshData">Refresh data</button>
        <button data-bind="click: setLinearScale">Lin</button>
        <button data-bind="click: setLogarithmicScale">Log</button>
        <select data-bind="options: periods, value: selectedPeriod" ></select>

        <div class="display-inline-block" >
            <!-- ko component: {
                name: 'taSettings',
                params: {
                    onLoad: $data.onTaSettingsLoad
                }}
                -->
            <!-- /ko -->
        </div>
        <div class="display-inline-block" >
            <!-- ko component: {
                name: 'extremasSettings',
                params: {
                    onLoad: $data.onExtremasSettingsLoad
                }}
                -->
            <!-- /ko -->
        </div>
        <div class="display-inline-block" >
            <!-- ko component: {
                name: 'currencySelector',
                params: {
                    onLoad: $data.onCurrencySelectorLoad
                }}
                -->
            <!-- /ko -->
        </div>
    </div>
    <div id="chart" class="chart" ></div>
</div>
