<div class="chart-and-list" >

    <!-- ko template: 'topMenu' -->
    <!-- /ko -->

    <div class="chart-and-list__chart" data-bind="component: {
        name: 'chart',
        params: {
            chartedInstrument: $root.chartedInstrument,
            comparedInstruments: $root.comparedInstruments
        }}">
    </div>

    
    <div class="chart-and-list__list " >
        <div class="list-main-module" >

            <div data-bind="component: {
                name: 'listMenu',
                params: {
                    currentMenuItem: currentMenuItem
                }
            }" >
            </div>

            <!-- ko component: {
                name: 'listSelection',
                params: {
                    currentMenuItem: currentMenuItem
                }
            } -->
            <!-- /ko -->

        </div>
    </div>

</div>
