<div class="chart-and-list" >

    <div class="chart-and-list__chart" data-bind="component: {
        name: 'chart',
        params: {
            chartedInstrument: chartedInstrument,
            comparedInstruments: comparedInstruments
        }}">
    </div>

    <div class="chart-and-list__list" data-bind="component: {
        name: 'instrumentLists',
        params: {
            chartedInstrument: chartedInstrument,
            comparedInstruments: comparedInstruments
        }}">
    </div>

</div>
