<div class="chart-and-list" >

    <div class="chart-and-list__chart" data-bind="component: {
        name: 'chart',
        params: {
            chartedInstrument: chartedInstrument,
            comparedInstruments: comparedInstruments
        }}">
    </div>

    
    <div class="chart-and-list__list" >

        <div data-bind="component: {
            name: 'listMenu',
            params: {
                currentMenuItem: currentMenuItem
            }
        }" >
        </div>

        <!-- ko component: {
            name: 'listSelection',
            params: {
                chartAndList: $data
            }
        } -->
        <!-- /ko -->

    </div>

</div>
