<div class="favorites-group" >

    <div class="favorites-group-table" data-bind="
        component: {
            name: 'instrumentList',
            params: {
                extraClass: 'instrument-list--tight',
                name: name,
                showErrorList: false,
                onFoldChange: onFold,
                isFolded: isFolded(),
                list: list,
                listType: 'favorite',
                chartedInstrument: $root.chartedInstrument,
                comparedInstruments: $root.comparedInstruments
            }
        }" >
    </div>
</div>
