<div class="favorites-group" >

    <div class="favorites-group-table" data-bind="
        component: {
            name: 'instrumentList',
            params: {
                extraClass: 'instrument-list--tight',
                name: name,
                supportEditName: true,
                showErrorList: false,
                onFoldChange: onFold,
                isFolded: isFolded(),
                list: list,
                tableSpec: $root.InstrumentTableSpec.favoriteSpec(),
                actions: actions,
                chartedInstrument: $root.chartedInstrument,
                comparedInstruments: $root.comparedInstruments
            }
        }" >
    </div>
</div>
