<div class="instrument-list" >

    <h2>Indices</h2>
    <!-- ko component: {
        name: 'instrumentTable',
        params: {
            list: indices,
            onElementClick: onElementClick,
            onCompareClick: onCompareClick
        }
    } -->
    <!-- /ko -->
    
    <h2>Instruments</h2>
    <!-- ko component: {
        name: 'instrumentTable',
        params: {
            list: instruments,
            onElementClick: onElementClick,
            onCompareClick: onCompareClick
        }
    } -->
    <!-- /ko -->

</div>
