<div class="instrument-list" >

    <h2 class="instrument-list__title pointer-on-hover" data-bind="text: name, click: toggleTableFold" ></h2>

    <div class="instrument-list-table" data-bind="css: { 'instrument-list-table--folded': isFolded },
        component: {
            name: 'instrumentTable',
            params: {
                list: list,
                listType: $data.listType,
                onElementClick: onElementClick,
                onCompareClick: onCompareClick,
                onAddToFavoriteClick: onAddToFavoriteClick
            }
        }" >
    </div>

    <!-- ko if: showErrorList -->
    <h2 class="instrument-list__title pointer-on-hover" data-bind="text: errorName, click: toggleTableFold" ></h2>

    <div class="instrument-list-table" data-bind="css: { 'instrument-list-table--folded': isFolded },
        component: {
            name: 'instrumentTable',
            params: {
                list: errorList,
                listType: 'error',
                onElementClick: onElementClick,
                onCompareClick: onCompareClick,
                onAddToFavoriteClick: onAddToFavoriteClick
            }
        }" >
    </div>

    <!-- /ko -->

</div>
