<table class="instrument-table" >
    <thead >
        <tr data-bind="foreach: columns" >
            <th class="instrument-table-header pointer-on-hover" data-bind="
                click: $parent.sort.bind($parent, $data), text: name "  >
            </th>
        </tr>
    </thead>
    <tbody data-bind="foreach: list()">
        <tr class="instrument-list-el" data-bind="click: $parent.onElementClick, css: { 'active' : active, 'compared' : compared }">
            <td class="instrument-table-body-row" data-bind="text: name"></td>
            <td class="instrument-table-body-row" data-bind="text: symbol"></td>

            <!-- ko if: $data.extra -->
                <!-- ko if: $data.extra.error -->
                <td class="instrument-table-body-row" data-bind="text: extra.error"></td>
                <!-- /ko -->
                <!-- ko if: !$data.extra.error -->

                    <!-- ko if: $data.extra.change -->
                    <td class="instrument-table-body-row" data-bind="text: extra.change.change"></td>
                    <td class="instrument-table-body-row" data-bind="text: extra.change.fromQuote.close"></td>
                    <td class="instrument-table-body-row" data-bind="text: extra.change.toQuote.close"></td>
                    <!-- /ko -->

                <!-- /ko -->

            <!-- /ko -->

            <td class="instrument-table-body-row" data-bind="click: $parent.onCompareClick, clickBubble: false, ">Comp</td>
        </tr>
    </tbody>
</table>
