<div class="instrument-list" data-bind="css: extraClass" >

    <h2 class="instrument-list__title pointer-on-hover" data-bind=" " >
        <span data-bind="
            text: name, 
            click: toggleTableFold,
            css: { nodisplay: showEditNameInput() }
        " ></span>

        <form class="display-inline" data-bind="submit: editName" >
            <input type="text" data-bind="
                css: { nodisplay: !showEditNameInput() }, 
                textInput: name
            " ></input>
        </form>
        <!-- ko if: supportEditName -->
            <button data-bind="click: editName" >Edit</button>
        <!-- /ko -->
        <!-- ko if: showCloseButton -->
            <button class="button-close button-close--small" data-bind="click: closeClicked" ></button>
        <!-- /ko -->
    </h2>

    <div class="instrument-list-table" data-bind="css: { 'instrument-list-table--folded': isFolded },
        component: {
            name: 'instrumentTable',
            params: {
                list: list,
                listType: $data.listType,
                tableSpec: $data.tableSpec,
                actions: actions
            }
        }" >
    </div>

    <!-- ko if: showErrorList -->
    <h2 class="instrument-list__title pointer-on-hover" data-bind="text: errorName, click: toggleTableFold" ></h2>

    <div class="instrument-list-table" data-bind="css: { 'instrument-list-table--folded': isFolded },
        component: {
            name: 'instrumentTable',
            params: {
                list: errorList,
                tableSpec: $root.InstrumentTableSpec.errorSpec()
            }
        }" >
    </div>

    <!-- /ko -->

</div>
