<table class="instrument-table" >
    <thead>
        <th class="instrument-table-header" >Name</th>
        <th class="instrument-table-header" >Symbol</th>
        <!-- ko if: listType === 'change' -->
        <th class="instrument-table-header" >Change</th>
        <th class="instrument-table-header" >From</th>
        <th class="instrument-table-header" >To</th>
        <!-- /ko -->
        <th class="instrument-table-header" >Actions</th>
    </thead>
    <tbody data-bind="foreach: list()">
        <tr class="instrument-list-el" data-bind="click: $parent.onElementClick, css: { 'active' : active, 'compared' : compared }">
            <td data-bind="text: name"></td>
            <td data-bind="text: symbol"></td>

            <!-- ko if: $data.extra -->
                <!-- ko if: $data.extra.change -->
                <td data-bind="text: extra.change.change"></td>
                <td data-bind="text: extra.change.fromQuote.close"></td>
                <td data-bind="text: extra.change.toQuote.close"></td>
                <!-- /ko -->
            <!-- /ko -->

            <td data-bind="click: $parent.onCompareClick, clickBubble: false, ">Comp</td>
        </tr>
    </tbody>
</table>
