<div class="list-selection-component" >

    <div data-bind="visible: isInstrumentsVisible(), component: {
        name: 'instrumentListsInstruments',
        params: {
            chartedInstrument: $root.chartedInstrument,
            comparedInstruments: $root.comparedInstruments,
            isActive: isInstrumentsVisible
        }}">
    </div>


    <div data-bind="visible: isWinnerLoserVisible(), component: {
        name: 'winnerLoser',
        params: {
            chartedInstrument: $root.chartedInstrument,
            comparedInstruments: $root.comparedInstruments,
            isActive: isWinnerLoserVisible
        }}">
    </div>

</div>
