<div class="winnerLoser" >

    <button class="button-top-right button-close" data-bind="click: closeClick" ></button>

    <div>

        <h3>Date interval</h3>

        <form data-bind="submit: updateList" >
            <label for="from">From: </label>
            <input name="from" type="text" data-bind="textInput: from" size="8" />
            <label for="to">To: </label>
            <input name="to" type="text" placeholder="Today" data-bind="textInput: to" size="8" />
            <label for="index">Index: </label>
            <select name="index" type="select" data-bind="options: indices, selectedOptions: selectedIndex" ></select>
            <button name="update" type="submit" >Update</button>
            <p class="feedback" data-bind="text: feedback" ></p>
        </form>

    </div>


    <div data-bind="component: {
        name: 'instrumentLists',
        params: {
            lists: lists,
            chartedInstrument: chartedInstrument,
            comparedInstruments: comparedInstruments
        }
    }">
    </div>

</div>
