.chart-component {
    height: 100%;

    .chart {
        // Leave some room for the .chart-controls
        height: calc(100% - 25px);
    }

    .chart-controls {

        .input-s {
            width: 70px;
        }
    }

}
