.chart-component {
    height: 100%;

    .chart {
        &.chart--folded {
            display: none;
        }
    }

    .chart-controls {

        .input-s {
            width: 70px;
        }
    }

}
