.chart-container {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
}

.chart-and-list {
    background-color: red;
    height: 100%;
    overflow: scroll;
    position: relative; 

    .chart-and-list__list {
        position: absolute;
        height: 100%;
    }
}

