.instrument-list-el {

    &.benchmark {
        background-color: #f3ff43;
    }

    &.active {
        background-color: #ccc;
    }

    &.compared {
        background-color: #c55;
    }

    &:hover {
        cursor: pointer;
    }
}
