.instrument-list {

    .instrument-list-table {
        overflow: hidden;
        transition: height 0.2s;

        &.instrument-list-table--folded {
            height: 0;
        }
    }

    &.instrument-list--tight {
        h2 {
            font-size: 1rem;
            margin: 0;
        }
    }

}
