.instrument-table {
    $rowPadding: 5px;

    border-collapse: collapse;

    .instrument-table-header {
        text-align: left;
        padding-right: $rowPadding;
    }

    .instrument-table-body-row {
        padding-right: $rowPadding;
        max-width: 370px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
