$main-color: black;

html {
    height: 100%;
}

body {
    margin: 0;
}

h1 {
    color: $main-color;
}

.chart-and-list-container {
}

.top-menu {
    @extend .pointer-on-hover;
}

.folded-height {
    height: 0;
    overflow: hidden;
}

.nodisplay {
    display: none;
}
.display-inline {
    display: inline;
}
.float-right {
    float: right;
}
