$main-color: black;

html {
    height: 100%;
}

body {
    margin: 0;
}

h1 {
    color: $main-color;
}

.chart-and-list-container {
    position: relative;
    flex-grow: 1;
}

.full-height {
    height: 100%;
}

.folded-height {
    height: 0;
    overflow: hidden;
}

.nodisplay {
    display: none;
}
.display-inline {
    display: inline;
}
.float-right {
    float: right;
}
.display-inline-block {
    display: inline-block;
}
